blinker
click
colorama
dnspython
email-validator
Flask
flask-cors
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python
SQLAlchemy
typing_extensions
Werkzeug
WTForms
