
{% extends "base.html" %}
{% block css %}

    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}">

{% endblock %}


{% block content %}

<form action="/login" method="post">
            {{ form.csrf_token }}

            <p>{{form.usermail.label}} {{ form.usermail(size=50)  }}   </p>

            <p>{{form.userpassword.label}} {{ form.userpassword(size=50)  }}   </p>
            
           <p> {{ form.submit()}}  </p>





</form>




{% endblock %}
